


body {	
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  background-color: whitesmoke;
  }
  h1{color: #0075db;
    font-size: 30px;
  }

  .Action {
  float: Left ;
  margin-left: 0px;
  margin-top: 0px;

}

  .Banner {
    object-fit: cover;
    margin:0 0 0 0;
    }

  
 .Me {
	float: center;
margin-left: 0px;}

.Paragraph 1
{
	margin-top: 20px;
	font-size: 20px;
  margin-top: 135px;
  color: black;
  }

.div{
    display: block;
    margin-left: 100px;
    margin-right: 200px;
    width: 100%;
  }
  .section.2 {
    width: 956px;
    height: 680px;}

.section.3 {
  width: 956px;
  height: 680px;}

  .think{
    float: Left ;
    margin-left: 0px;
    margin-top: 0px;}

  