	
	

	
body {	
	margin-left: 10%;
	margin-right: 10%;
	}
	
	h1 {
	color: rgb(123, 148, 234);
	font-size: 60px;
	text-align: center;
	}
	
	.hro {
	width: 80%;
	height: 100%;
	margin-right: auto;
	}
	
	.wijnhaven {
	object-fit: cover;
	margin:0 0 0 0;
	}
	
	.arrow {
	float: center;
	margin-left: 644px;
	width: 90px;
	height: 90px;
	}
	
	figure > img {
	width:100%;
	height: 100%;
	margin-top: -10px;
	}
	
	.kop1 {
	margin-bottom: 20px;
	font-size: 20px;
	margin-top: 135px;
	}
	
	.kop2 {
	margin-bottom: 20px;
	font-size: 20px;
	margin-top: 300px;
	}
	
	.kop3 {
	margin-bottom: 20px;
	font-size: 20px;
	margin-top: 360px;
	}
	
	.ik {
	float: right;
	width: 200px;
	margin-top: 30px;
	}
	
	.ik > img {
	border-radius: 40px;
	}
	
	.afb1 {
	float: left;
	width: 420px;
	height: 263px;
	margin-bottom: 40px;
	}
	
	#tekst1 {
	position: absolute;
	margin-top: 100px;
	margin-left: 116px;
	font-size: 30px;
	}
	
	.afb2 {
	float: right;
	width: 318px;
	height: 364px;
	}
	
	#tekst2 {
	position: absolute;
	margin-top: 255px;
	margin-left: 45px;
	font-size: 30px;
	color: white;
	}
	
	.afb3 {
	float: left;
	width: 421px;
	height: 381px;
	}
	
	#tekst3 {
	position: absolute;
	margin-top: 55px;
	margin-left: 143px;
	font-size: 30px;
	color: white;
	}
	
	footer {
	margin-top: 340px;
	}
	
	
	
	
	
	