
element.style {
    max-width: 800px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

{margin: 0;
}
.section1 {
    color:rgb(0, 0, 0);
}

#id {color: black;
    margin-bottom: 10px;
}

header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    
}

.section3 {
    color:rgb(0, 0, 0);
}
.body{ background-color: wheat;}

.section4{
    background-color: black;
    color: whitesmoke;
    text-align: center;}
    
.section5{
    background-color: black;
    color: whitesmoke;
    text-align: center;}

    P { text-align: center }
 .footer{ text-align: center }

.section6{text-align: center}

.section7
    { list-style-type: none;}
.section8
    { list-style-type: none;}